In [2]:
from scipy import stats
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import pandas_datareader as web

In [14]:
spy_etf = pd.read_csv('GOOG_CLOSE',index_col='Date',parse_dates=True)
aapl = pd.read_csv('AAPL_CLOSE',index_col='Date',parse_dates=True)

In [32]:
spy_etf.shape

(698, 1)

In [36]:
aapl.columns

Index(['Adj. Close'], dtype='object')

In [7]:
start = pd.to_datetime('2010-01-04')
end = pd.to_datetime('2017-07-18')

In [8]:
spy_etf = spy_etf.loc[start:end]

In [9]:
spy_etf.head()

            Adj. Close
Date
2014-03-27      558.46
2014-03-28      559.99
2014-03-31      556.97
2014-04-01      567.16
2014-04-02      567.00

In [10]:
aapl = aapl.loc[start:end]

In [11]:
spy_etf.shape

(698, 1)

In [13]:
aapl.head()

            Adj. Close
Date
2012-01-03   53.063218
2012-01-04   53.348386
2012-01-05   53.940658
2012-01-06   54.504543
2012-01-09   54.418089